.nav-layout {
    min-width: 296px;
    min-height: 100vh;
    padding: 2rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav-item {
    position: relative;

    a {
        display: flex;
        align-items: center;
    }
}

.nav-item:hover {
    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 32px;
        left: -32px;
        background-color: $success;
    }
}

.nav-item.active {
    span{
        color: $success;
    }
    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 32px;
        left: -32px;
        background-color: $success;
    }
}