*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
    line-height: 1;
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

body {
    font-family: 'Lato', 'Roboto Mono', monospace, sans-serif;
    line-height: 1.5;
    color: #212529;
}