.ms-9 {
    margin-left: 9px;
}

.me-38 {
    margin-right: 38px;
}

.mb-44 {
    margin-bottom: 44px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ps-12 {
    padding-left: 12px;
}

.ps-24{
    padding-left: 24px;
}

.gap-x-30 {
    column-gap: 30px;
}

.ms-48 {
    margin-left: 48px;
}

.text-gray-400{
    color: #CED4DA;
}